.edit-main{
  text-align: center;
}
.edit-container{
  margin: 0 auto;
  max-width: 1000px;
}
.edit-form{
  background-color: lightgoldenrodyellow;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px;
}
.edit-title{
  padding: 10px;
  width: 500px;
  font-size: 16px;
}
.edit-url{
  padding: 10px;
  width: 500px;
  font-size: 12px;
}
.edit-detail{
  padding: 10px;
  width: 500px;
  height: 100px;
  font-size: 14px;
}
.edit-review{
  padding: 10px;
  width: 500px;
  height: 100px;
  font-size: 14px;
}
.edit-delete-btn{
  margin: 0 auto;
  margin-top: 20px;
  width: 60%;
}
#edit-submit{
  margin-right: 30px;
  background-color: blue;
  border-radius: 15px;
  color: #fff;
  padding: 8px;
}
#delete-btn{
  background-color: red;
  border-radius: 15px;
  color: #fff;
  padding: 8px;
}