
.title{
  text-align: center;
}
.paginate{
  width: fit-content;
  margin: 0 auto;
}

.review-item{
  list-style: none;
  background-color: lightgoldenrodyellow;
  padding: 10px 30px;
  margin: 20px;
}
.review-item__text{
  font-size: 16px;
  color: blue;
}
.review-item__text--detail{
  font-size: 15px;
  color: rgb(76, 74, 74);
}